*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: black;
    height: 80px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 16px;
    font-weight: 500;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100%;
    width:100%;
    max-width: 1150px;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
h1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2.1rem;
}
.section1 p{
    font-size: 24px;
    font-weight: 400;

}

header ul{
    list-style: none;
    color: white;

    display: flex;
}
header li{
    margin-left: 2rem;
}
header img{
    height: 100%;

}
.section1 img{
    height: 100%;
}
.navlink{
    text-decoration: none;
    color: white;
}
.section1{
    height: 27rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

    display: flex;
    justify-content: center;
    background-color: rgb(255, 205, 210);
}
.mainarea{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: space-around;
}
.buttonlink{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.button1{
    text-decoration: none;
    padding-left: 1.6rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-right: 1.6rem;
    border: 1px solid black;
    color: black;
    border-radius: 2rem;
}

.item{
    background-color: black;
    color: white;
    margin-right: 5px;
}
.caption1{
    font-size: 10px;
    font-weight: 400;
    padding-right:6rem;
}









.section2{
    background-color: rgb(248, 248, 248);
    height: 27rem;
    padding-top: 6rem;
    padding-bottom: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h2{
    font-size: 2.3rem;
    font-weight: 550;
}
.section2 p{
    font-size: 22px;
}
.store{
    height: 39px;
}
.caption2{
    text-align: center;
    font-size: 10px;
    font-weight: 400;
}
.tnc{
    color: black;
}







.section3{
    height: 34rem;
    padding-top: 4rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3_main{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section3 img{
    width: 160px;
    height: 150px;
}
.container2{
    height: 100%;
    width:100%;
    max-width: 1150px;

}
.section3 h2{
    text-align: center;
    padding-bottom: 4rem;

}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.content li{
    list-style: none;
    text-align: center;
    padding-top: 1rem;
}
.content h3{
    font-size: 18px;
    font-weight: 600;
    text-align: center;

}
.content p{
    font-size: 14px;
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 400;
}







.section4{
    height: 53rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgb(248, 248, 248);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.container3{
    height: 100%;
    width:100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;

}
.wholebox{
    display: flex;
    flex-direction: row;
    justify-content: space-between    
}
.container3 h2{
    text-align: center;
    padding-bottom: 8px;
}
.underheading{
    text-align: center;
    padding-bottom: 3rem;
}
.box1{
    width: 47rem;
    height: 32rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;;
    border-radius: 10px;
    margin-right: 1rem;
}
.list1{
    padding-bottom: 1rem;
    list-style: none;
}
.list2{
    padding-top: 1rem;
    padding-bottom: 3rem;
    list-style:none ;
}
.undercaption1{
    font-size: 11px;
    text-align: start;
    color: rgb(83, 83, 83);
}
.monthbutton1{
    padding-top: 4px;
    padding-bottom:5px;
    padding-right:5px ;
    padding-left: 5px;
    width: 7rem;
    height: 1.7rem;
    border-radius: 4px;

    background-color:rgb(46, 119, 208);
    color: white;
    font-size: 14px;
    font-weight: 900;
}
.box1 h3{
    padding-top: 10px;
    font-size: 22px;
    font-weight: 550;
}
.head2{
    font-size: 16px;
    font-weight: 400;
}
.head3{
    font-size: 14px;
    font-weight: 500;
}
.list2 li:before{
        content: '✓   ';
      }
.list2 li{
    padding-top: 10px;
}
.startbutton1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
    background-color: black;
    border-radius: 2rem;

    margin-bottom: 1rem;
}
.startbutton1 a{
    text-decoration: none;
    color: white;
}
.undercaption1 .tnc{
    color: rgb(83, 83, 83);
}



.monthbutton2{
    padding-top: 4px;
    padding-bottom:5px;
    padding-right:5px ;
    padding-left: 5px;
    width: 6.3rem;
    height: 1.7rem;
    border-radius: 4px;

    background-color:rgb(46, 119, 208);
    color: white;
    font-size: 14px;
    font-weight: 900;
}
.startbutton2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
    background-color: black;
    border-radius: 2rem;
}
.startbutton2 a{
    text-decoration: none;
    color: white;
}

.centre{
    padding-bottom: 1rem;
}
.undercaption2{
    font-size: 11px;
    text-align: start;
    color: rgb(83, 83, 83);
    padding-top: 1rem;
}
.undercaption2 .tnc{
    color: rgb(83, 83, 83);
}
.box3{
    width: 47rem;
    height: 32rem;
    padding-top: 5pxrem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    border-radius: 10px;
    margin-right: 1rem;
}
.box3 h3{
    padding-top: 10px;
    font-size: 22px;
    font-weight: 550;
}
.box3 .head3{
    padding-bottom: 42px;
}
.startbutton3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
    background-color: black;
    border-radius: 2rem;
}
.startbutton3 a{
    color: white;
    text-decoration: none;
}
.box3 .list2{
    padding-bottom: 5.3rem;
}
.undercaption3 a{
    font-size: 11px;
    text-align: start;
    color: rgb(83, 83, 83);
    padding-top: 1rem;
}










.section5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);

    padding-top: 4rem;
    padding-bottom: 6rem;
}
.container4{
    height: 100%;
    width:100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
}
.section5-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section5 h2{
    margin-bottom: 1rem;
    font-size: 40px;
    font-weight: 900;
}
.section5 p{
    margin-bottom: 4rem;
    font-size: 24px;
    font-weight: 400;
}
.question-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.questions :hover{
    background-color:rgb(248, 248, 248) ;
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-gap: 5px;
}
.question-list a{
    text-decoration: none;
    color: black;
    font size:20px;
    
}
.question-list img{
    height: 100%;
    width: 2.2rem;
}










footer{
    background-color: black;
    color: white;
    height: 35rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container5{
    width: 100%;
    height: 100%;
    max-width: 1150px;
    padding-top: 5rem;
    padding-bottom: 2rem;

}
.foot1{
    display:flex;
    flex-direction: row;

}
.spotifyfoot{
    width: 8.5rem;

    margin-right: 2rem;
}
.footmain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.footlist{
    width: 35rem;
    padding-top: 1.2rem;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footlist li{
    list-style: none;
    padding-bottom: 1rem;
    font-size: 16px;
    font-weight: 400;
}
.listhead{
    color: #919496;
    font-size: 12px;
    font-weight: 800;
}
.medialogo{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.medialogo img{
    width: 4rem;
    height: 3.5rem;
    padding-right: 5px;
 
}
.foot-country{
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.foot-country img{
    padding-top: 3px;
    width: 12px;
    height: 12px;
}
.foot-country p{
    padding-left: 10px;
    font-size: 11px;
    color:#919496 ;
}
.footend{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 4rem;
    
}
#footendlist{
    width: 20rem;
    font-size: 11px;
    color: #919496;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
#copyright{
    font-size: 11px;
    color: #919496;
    
}